.wrapper {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	padding-top: 2px;
	padding-left: 2px;
}

.grid {
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	width: 500px;
	height: 500px;
	background-color: #f0f0f0;
}

.initializer {
	
}

.top {
	
}

.clear {
	clear: both;
}

.wrapper { white-space: nowrap; }
.content-top > div { white-space: normal; }